* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3 , 80px);
    grid-template-rows: repeat(3 , 80px);
    justify-content: center;
    top: 400px;
    gap: 13px;
    width: auto;
}

body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    width : 5rem;
    height: 5rem;
    padding: 10px;
    border: 1px solid black;
    color: transparent;
}

#name {
    margin: 2rem;
    font-size: 3rem;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

#winner {
    margin: 2rem;
    text-align: center;
}